@import "tailwindcss";

:root {
  --background: hsl(37, 7%, 9%);
  --background-page: hsl(37, 10%, 16%);
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-background-page: var(--background-page);
  --color-foreground: var(--foreground);

  --color-btn-primary: rgba(125, 121, 117, 0.4);
  --color-btn-primary-hover: rgba(125, 121, 117, 0.7);
  --color-btn-danger: rgba(173, 31, 31, 0.5);
  --color-btn-danger-hover: rgba(173, 31, 31, 0.8);
  --color-btn-secondary: #5b5953;
  --color-btn-secondary-hover: #78766d;
  --color-btn-disabled: #777;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Styles for pages that need fixed viewport (no scrolling) */
html.scroll-lock,
body.scroll-lock {
  height: 100vh;
  height: 100dvh; /* Dynamic viewport height for mobile browsers */
  overflow: hidden;
  position: fixed;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@keyframes dotFlashing {
  0% {
    background-color: #37342f;
  }
  50%, 100% {
    background-color: #ebe6ff;
  }
}
.recharts-wrapper *:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
