@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-btn-primary: rgba(49, 129, 83, 0.5);
  --color-btn-primary-hover: rgba(49, 129, 83, 0.8);
  --color-btn-danger: rgba(173, 31, 31, 0.5);
  --color-btn-danger-hover: rgba(173, 31, 31, 0.8);
  --color-btn-secondary: #5b5953;
  --color-btn-secondary-hover: #78766d;
  --color-btn-disabled: #777;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
