.paginator {
  ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  li+li {
    margin: 0 0.5rem;
  }

  .selected a {
    background-color: #777;
  }

  li a {
    border-radius: 7px;
    padding: 0.1rem 1rem;
    border: gray 1px solid;
    cursor: pointer;
  }
}
